The pseudo dataset containing the cosine similarity difference and the tweet sentiment predictions are in the form of a list. 

**Data format** : [index,|cosine similarity difference|, predicted label,{neg_coefficient,pos_coefficient,true_label,'cos_sim_bad','cos_sim_good'}]

In order to easily work with the data and derive insights on confidence, we export it as a csv file.

This notebook explains the data manipulation done on this list to get a final csv file.

In [ ]:
print(len(pseudo_dataset))

378000

In [ ]:
type(pseudo_dataset)

list

In [ ]:
for data in pseudo_dataset[:5]:
  print(data)

[0, 0.017260133916574882, 1, "Unfortunately, the frustration of being Dr. Goldberg's patient is a repeat of the experience I've had with so many other doctors in NYC -- good doctor, terrible staff.  It seems that his staff simply never answers the phone.  It usually takes 2 hours of repeated calling to get an answer.  Who has time for that or wants to deal with it?  I have run into this problem with many other doctors and I just don't get it.  You have office workers, you have patients with medical needs, why isn't anyone answering the phone?  It's incomprehensible and not work the aggravation.  It's with regret that I feel that I have to give Dr. Goldberg 2 stars.", {'neg_coefficient': 0.5, 'pos_coefficient': 0.5, 'cos_sim_bad': 0.9479772468302142, 'cos_sim_good': 0.9652373807467891, 'true_label': 0}]
[4, 0.01525985116677575, 1, 'All the food is great here. But the best thing they have is their wings. Their wings are simply fantastic!!  The \\"Wet Cajun\\" are by the best & most popular.  I also like the seasoned salt wings.  Wing Night is Monday & Wednesday night, $0.75 whole wings!\\n\\nThe dining area is nice. Very family friendly! The bar is very nice is well.  This place is truly a Yinzer\'s dream!!  \\"Pittsburgh Dad\\" would love this place n\'at!!', {'neg_coefficient': 0.5, 'pos_coefficient': 0.5, 'cos_sim_bad': 0.9622902349455125, 'cos_sim_good': 0.9775500861122882, 'true_label': 1}]
[8, 0.013805602494125324, 1, "Before I finally made it over to this range I heard the same thing from most people - it's just fine to go work on your swing. I had such a low expectation I was pleasantly surprised. \\n\\nIt's a fairly big range - if you are familiar with Scally's in Moon, it seems like it has almost as many tees, though its not nearly as nice a facility. \\n\\nThe guys in the pro shop were two of the friendlier guys I've come across at ranges or at courses. Yards were indeed marked and there are some targets to aim for, and even some hazards to aim away from. \\n\\nA big red flag to me was the extra charge ($3) to hit off the grass. I am no range expert, but this is the 4th one I've been to and the first I've seen of that sort of nickel and diming....\\n\\nPrice for the golf balls was reasonable and I do plan to be back every week until they close up in October for the season. Hopefully, since its for sale, it will reopen as a golf facility again.", {'neg_coefficient': 0.5, 'pos_coefficient': 0.5, 'cos_sim_bad': 0.9542848727621924, 'cos_sim_good': 0.9680904752563178, 'true_label': 1}]
[12, 0.016744406188099248, 1, "After a morning of Thrift Store hunting, a friend and I were thinking of lunch, and he suggested Emil's after he'd seen Chris Sebak do a bit on it and had tried it a time or two before, and I had not. He said they had a decent Reuben, but to be prepared to step back in time.\\n\\nWell, seeing as how I'm kind of addicted to late 40's and early 50's, and the whole Rat Pack scene, stepping back in time is a welcomed change in da burgh...as long as it doesn't involve 1979, which I can see all around me every day.\\n\\nAnd yet another shot at finding a decent Reuben in da burgh...well, that's like hunting the Holy Grail. So looking under one more bush certainly wouldn't hurt.\\n\\nSo off we go right at lunchtime in the middle of...where exactly were we? At first I thought we were lost, driving around a handful of very rather dismal looking blocks in what looked like a neighborhood that had been blighted by the building of a highway. And then...AHA! Here it is! And yep, there it was. This little unassuming building with an add-on entrance with what looked like a very old hand painted sign stating quite simply 'Emil's. \\n\\nWe walked in the front door, and entered another world. Another time, and another place. Oh, and any Big Burrito/Sousa foodies might as well stop reading now. I wouldn't want to see you walk in, roll your eyes and say 'Reaaaaaalllly?'\\n\\nThis is about as old world bar/lounge/restaurant as it gets. Plain, with a dark wood bar on one side, plain white walls with no yinzer pics, good sturdy chairs and actual white linens on the tables. This is the kind of neighborhood dive that I could see Frank and Dino pulling a few tables together for some poker, a fish sammich, and some cheap scotch. And THAT is exactly what I love.\\n\\nOh...but good food counts too. \\n\\nWe each had a Reuben, and my friend had a side of fries. The Reubens were decent, but not NY awesome. A little too thick on the bread, but overall, tasty and definitely filling. Not too skimpy on the meat. I seriously CRAVE a true, good NY Reuben, but since I can't afford to travel right now, what I find in da burgh will have to do. But as we sat and ate, burgers came out to an adjoining table. Those were some big thick burgers. A steak went past for the table behind us. That was HUGE! And when we asked about it, the waitress said 'Yeah, it's huge and really good, and he only charges $12.99 for it, ain't that nuts?' Another table of five came in, and wham. Fish sandwiches PILED with breaded fish that looked amazing. Yeah, I want that, that, that and THAT!\\n\\nMy friend also mentioned that they have a Chicken Parm special one day of the week that is only served UNTIL 4 pm, and that it is fantastic. If only I could GET there on that week day before 4...\\n\\nThe waitress did a good job, especially since there was quite a growing crowd at lunchtime on a Saturday, and only one of her. She kept up and was very friendly. \\n\\nThey only have Pepsi products, so I had a brewed iced tea, which was very fresh, and she did pop by to ask about refills as often as she could. As the lunch hour went on, they were getting busy.\\n\\nEmil's is no frills, good portions, very reasonable prices, VERY comfortable neighborhood hole in the wall...kind of like Cheers, but in a blue collar neighborhood in the 1950's. Fan-freakin-tastic! I could feel at home here.\\n\\nYou definitely want to hit Mapquest or plug in your GPS though. I am not sure that I could find it again on my own...it really is a hidden gem. I will be making my friend take me back until I can memorize where the heck it is.\\n\\nAddendum: 2nd visit for the fish sandwich. Excellent. Truly. A pound of fish on a fish-shaped bun (as opposed to da burgh's seemingly popular hamburger bun). The fish was flavorful, the batter excellent, and for just $8. This may have been the best fish sandwich I've yet to have in da burgh.", {'neg_coefficient': 0.5, 'pos_coefficient': 0.5, 'cos_sim_bad': 0.9606364827031323, 'cos_sim_good': 0.9773808888912315, 'true_label': 1}]
[16, 0.012922722144552368, 1, 'Used to go there for tires, brakes, etc.  Their prices have gone way up-$400 for 4 mid-level tires for a Toyota.  Plus, 1 of the new tires went flat within 3 weeks.  Since they don\\"t make appointments,  the wait to get the tire looked at was ~2 hours.  Sorry--can\'t wait that long to get a warranted repair,  They lost my business for good.', {'neg_coefficient': 0.5, 'pos_coefficient': 0.5, 'cos_sim_bad': 0.95303445835077, 'cos_sim_good': 0.9659571804953224, 'true_label': 0}]

In [ ]:
data

[16,
 0.012922722144552368,
 1,
 'Used to go there for tires, brakes, etc.  Their prices have gone way up-$400 for 4 mid-level tires for a Toyota.  Plus, 1 of the new tires went flat within 3 weeks.  Since they don\\"t make appointments,  the wait to get the tire looked at was ~2 hours.  Sorry--can\'t wait that long to get a warranted repair,  They lost my business for good.',
 {'neg_coefficient': 0.5,
  'pos_coefficient': 0.5,
  'cos_sim_bad': 0.95303445835077,
  'cos_sim_good': 0.9659571804953224,
  'true_label': 0}]

In [ ]:
def predicted(a):
  return a[2]

pred_list = map(predicted,pseudo_dataset)

In [ ]:
pred_list = list(pred_list)
type(pred_list)

list

In [ ]:
def csd(a):
  return a[1]

csd_list = map(csd,pseudo_dataset)

In [ ]:
csd_list = list(csd_list)

In [ ]:
def true_label(a):
  pseudo_dict = a[4]
  return pseudo_dict['true_label']

truth_list = map(true_label,pseudo_dataset)

In [ ]:
truth_list = list(truth_list)

In [ ]:
len(pred_list)
len(truth_list)

378000

Turning these lists into data frame columns

In [ ]:
#calling DataFrame constructor after zipping both lists, with columns specified

plot_data = pd.DataFrame(list(zip(pred_list, truth_list, csd_list)),
               columns=['predictions', 'truth', 'cosine_similarity_difference'])
plot_data.head()

   predictions  truth  cosine_similarity_difference
0            1      0                      0.017260
1            1      1                      0.015260
2            1      1                      0.013806
3            1      1                      0.016744
4            1      0                      0.012923

In [ ]:
plot_data['correct_guess'] = np.where(plot_data['predictions'] == plot_data['truth'], 1, 0)
plot_data.head()

   predictions  truth  cosine_similarity_difference  correct_guess
0            1      0                      0.017260              0
1            1      1                      0.015260              1
2            1      1                      0.013806              1
3            1      1                      0.016744              1
4            1      0                      0.012923              0

In [ ]:
plot_data.shape

(378000, 4)

Some data manipulation to get a desired dataframe

In [ ]:
# add an empty columns
plot_data['null1'] = ' '
plot_data['null2'] = ' '
plot_data['null3'] = ' '

In [ ]:
plot_data.head()

,predictions,truth,cosine_similarity_difference,correct_guess,null1,null2,null3
0,1,0,0.017260,0,,,
1,1,1,0.015260,1,,,
2,1,1,0.013806,1,,,
3,1,1,0.016744,1,,,
4,1,0,0.012923,0,,,

In [ ]:
plot_data = plot_data[['predictions', 'null1', 'truth', 'null2', 'cosine_similarity_difference', 'null3', 'correct_guess']]
plot_data.head()

,predictions,null1,truth,null2,cosine_similarity_difference,null3,correct_guess
0,1,,0,,0.017260,,0
1,1,,1,,0.015260,,1
2,1,,1,,0.013806,,1
3,1,,1,,0.016744,,1
4,1,,0,,0.012923,,0

In [ ]:
plot_data.to_csv('csd_cg_dataset_normalised.csv', sep='\t', encoding='utf-8', index=False)

**Further data cleaning of newly-created csv file in Microsoft Excel by following these steps:**

https://www.extendoffice.com/documents/excel/1786-excel-split-text-by-space.html